<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Load logback variables -->
	<include resource="log/log-variables.xml" />

	<!-- Load appenders configuration -->
	<include resource="log/custom-logger-template.xml" />

	<!-- Default logging level -->
	<root level="INFO">
		<appender-ref ref="CUSTOM_CONSOLE_LOGGER" />
	</root>
	
	<logger name="com.life.logger" level="INFO" additivity="false">
		<appender-ref ref="CUSTOM_CONSOLE_LOGGER" />
		<appender-ref ref="CUSTOM_FILE_LOGGER" />
	</logger>
</configuration>